.bullets
	ul
		li
			<i class="far fa-clock info-icon"></i>
			p 96 horas
		li
			<i class="far fa-play-circle info-icon"></i>
			p Inicio: 16 de abril 2021
		li
			<i class="far fa-stop-circle info-icon"></i>
			p Fin: 10 de julio 202
		li
			<i class="fas fa-dollar-sign info-icon"></i>
			p 10,500.00 MXN* + IVA
		li
			<i class="far fa-calendar-alt info-icon"></i>
			p Viernes de 16:00 a 20:00 hrs. y sábados de 9:00 a 13:00 hrs.
	p 
		i *Pregunta por nuestras promociones y facilidades de pago.