script(charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js")
script.
	hbspt.forms.create({
	region: "na1",
	portalId: "19503569",
	formId: "ec143cf4-b7dc-49cc-bd9e-965a04b5b686",
	})

//- div
//- 	form(action="" class="form" id="form")
//- 		.form_group#group_name
//- 			label(for="name" class="form_label") Nombre
//- 			.form_group_input
//- 				input(id="name" name="name" type="text" placeholder="José López" class="form_input")
//- 				i.fas.fa-times-circle.form_status
//- 			p.form_fail Solo puedes usar letras.
//- 		.form_group#group_email
//- 			label(for="email" class="form_label") Email
//- 			.form_group_input
//- 				input(id="email" name="email" type="email" placeholder="ejemplo@correo.com" class="form_input")
//- 				i.fas.fa-times-circle.form_status
//- 			p.form_fail Tienes que colocar un email válido. 
//- 		.form_group#group_tel
//- 			label(for="tel" class="form_label") Número
//- 			.form_group_input
//- 				input(id="tel" name="tel" type="tel" placeholder="1234567890" class="form_input") 
//- 				i.fas.fa-times-circle.form_status
//- 			p.form_fail El número debe contener 10 digitos. 
//- 		.form_group_term#term_group
//- 			label(for="term" class="form_label")
//- 				input(type="checkbox" class="form_checkbox" name="term" id="term")
//- 				| Acepto términos y condiciones.
//- 		.form_message#form_message
//- 			p
//- 				i.fas.fa-exclamation-triangle
//- 				b Error:
//- 				|  Por favor rellena el fomulario correctamente.
//- 		.form_btn_send
//- 			button(type="submit" class="form_btn") Enviar
//- 			p.form_message_ok#form_message_ok El formulario de envio exitosamente
//- div

<!-- Start Fomulario -->
//- <div class="formulario">
//- 	<div id='formularioProspectus'></div>
//- 	<div class="clearfix"></div>
//- 	<!--<div id="resultado">
//- 	</div>-->
//- </div>
<!-- End Formulario -->