.sticky_item
	.logo
		img(src="assets/img/asmedia_logotipo_blanco.svg", alt="brand-asmedia")
	.educa
		i.fas.fa-chevron-right
		p Educación Continua
.sticky_item
	.tag 
		p Diplomado Online
	.title
		p Marketing Digital