ul.temary
	li.temary-item.modulo-1
		span 1
		h5 Panorama General del Mundo Digital
		p Liliana Bretón
	li.temary-item.modulo-2
		span 2
		h5 Optimización del Sitio Web
		p Félix Ríos
	li.temary-item.modulo-3
		span 3
		h5 Analítica Web ROI
		p Hans Hatch
	li.temary-item.modulo-4
		span 4
		h5 Marketing en Buscadores SEO
		p Jack Ades
	li.temary-item.modulo-5
		span 5
		h5 e-Mail Marketing
		p Hans Hatch
	li.temary-item.modulo-6
		span 6
		h5 Social Media
		p Félix Ríos
	li.temary-item.modulo-7
		span 7
		h5 Publicidad y Pauta en Medios Digitales
		p Jack Ades
	li.temary-item.modulo-8
		span 8
		h5 Legislación 
		p León Felipe Sánchez
	li.temary-item.modulo-9
		span 9
		h5 Generadores de Contenido
		p Hans Hatch
	li.temary-item.modulo-10
		span 10
		h5 Aplicaciones
		p Jack Ades
	li.temary-item.modulo-11
		span 11
		h5 e-Commerce
		p Hans Hatch
	li.temary-item.modulo-12
		span 12
		h5 Plan de Marketing Digital
		p Félix Ríos

//- <i class="fas fa-caret-right"></i>