<meta property="og:url" content="https://asmedia.edu.mx/marketing-digital/" />
<meta property="og:type" content="landing page" />
<meta property="og:title" content="Diplomado Online de Marketing Digital" />
<meta property="og:description" content="Aprende estratégias y herramientas efectivas del Marketing Digital para redes sociales, SEO, e-mail marketing, analíticas y contenidos." />
<meta property="og:image" content="https://asmedia.edu.mx/marketing-digital/assets/img/mujer_estudiando.png" />