<meta property="og:url" content="https://asmedia.edu.mx/marketing-digital/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Diplomado Online de Marketing Digital" />
<meta property="og:description" content="Aprende estrategias y herramientas efectivas del Marketing Digital para redes sociales, SEO, e-mail marketing, analíticas y contenidos." />
<meta property="og:image" content="https://asmedia.edu.mx/marketing-digital/assets/img/mujer_estudiando.png" />
<meta property="og:image:alt" content="Banner del Diplomado Online de Marketing Digital y persona estudiando desde su laptop." />
<meta property="fb:app_id" content="281613461863716" />
