footer
	.container
		.footer-head
			include ../modules/brands.pug
			.footer-text
				p Educación Continua es un nuevo programa de estudios 	profesionales de AS MEDIA.
				p Su objetivo es brindar contenido efectivo para desarrollar habilidades en temas especializados. Los instructores son profesionales activos en áreas donde aplican el conocimiento que comparten. 
				p En AS MEDIA, aprendes de los que saben.
		.footer-content
			ul
				li
					<i class="fas fa-map-marker-alt"></i> 
					p 
						a(href="https://goo.gl/maps/CTaakgqMvHff4UV36", target="_blank", rel="noopener noreferrer")  Av. Juárez #1511, Col. La Paz. Puebla, México
				li
					<i class="fas fa-mobile-alt"></i>
					p
						a(href="tel:+522211745220") 222 363 7514
				li
					<i class="far fa-envelope"></i>
					p 
						a(href="mailto:educacioncontinua@asmedia.edu.mx") educacioncontinua@asmedia.edu.mx
				li
					<i class="fab fa-chrome"></i>
					p 
					a(href="https://asmedia.edu.mx/", target="_blank") www.asmedia.edu.mx
				li
					<i class="fab fa-facebook-f"></i>
					p 
						a(href="https://www.facebook.com/ASMEDIAmexico/" target="_blank") ASMEDIA México
				li
					<i class="fab fa-instagram"></i>
					p 
						a(href="https://www.instagram.com/as_mediacfp", target="_blank") @asmedia