header.cover
	.container
		h2.tag-course Diplomado Online
		h1.name-course Marketing Digital
		p.extract-course El avance tecnológico ha revolucionado nuestro mundo, sobre todo en disciplinas encargadas de la comunicación entre individuos y corporaciones.
		//- h5.date-course Inicio 19 de marzo 2021
		include ../modules/brands.pug	
