include ../config/variables.pug
doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/styles-min.css")
		script(src='https://kit.fontawesome.com/e921b55e0a.js', crossorigin='anonymous')
		//- <!-- Start of HubSpot Embed Code -->
		<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/19503569.js"></script>
		//- <!-- End of HubSpot Embed Code -->
		script(type="text/javascript" src="js/scripts-min.js")
		//- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		title Diplomado Online de Marketing Digital
	body
		include nav.pug
		include header.pug
		include main.pug
		include footer.pug
		include ../modules/whatsapp.pug
		//- script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js')
		//- script(src='https://asmedia.prospectus.com.mx/Herramienta/formularioPost?id=d31d87eef7efafac9163854979cd152c6759b4bafd1d71e9f95546c4403aa3a2')