//- Teachers objetcs
-
	const teachers = [
		{
			image: 'assets/img/teacher-lili.png',
			name: 'Liliana Bretón',
			about: 'Mercadóloga, Asesora de Redes Sociales y Marketing Digital. Profesora universitaria. Forma parte del equipo editorial de Soy Marketing.'
		},
		{
			image: 'assets/img/teacher-felix.png',
			name: 'Felix Ríos',
			about: 'Creador y director general de Néctar Negocios, Agencia de Mercadotecnia. Docente universitario en ITESM, Ibero, UP y UNAM.'
		},
		{
			image: 'assets/img/teacher-hans.png',
			name: 'Hans Hatch',
			about: 'Fundador y columnista de la revista Soy Marketing. Fundador de MyMuuk, de Influencer Marketing y Hatch Agency.'
		},
		{
			image: 'assets/img/teacher-jack.png',
			name: 'Jack Ades',
			about: 'Vicepresidente de Mercadotecnia, Operaciones y Productos de Capital Digital. Casa de Pictoline, Chilango, Sopitas, Uno Cero y DeMemoria.'
		},
		{
			image: 'assets/img/teacher-leon.png',
			name: 'León Felipe Sánchez',
			about: 'Ha sido asesor de propiedad intelectual en la Comisión de Ciencia y Tecnología del Senado de la República y representante ante la cumbre de International Commons iSummit. '
		}
	]