@import "info.scss";
@import "teachers.scss";
@import "topics.scss";
@import "registrer.scss";

.section-head {
	padding: $smallGutter;
	@media screen and (min-width:$normalWidth) {
		padding: $normalGutter;
	}
}
.section-head h3{
	margin-bottom: $normalGutter;
	@media screen and (min-width:$mediumWidth) {
		margin-bottom: $bigGutter;
	}
}
.section-head p:first-of-type {
	margin-bottom: $smallGutter;
}
