section.info
	.container
		.section-head
			h3 Acerca de
			p Técnicas y herramientas de vanguardia de la mano de los más destacados especialistas del mundo digital.
			p Dirigido a profesionales de mercadotecnia, publicidad, comunicación, diseño, negocios y todas aquellas personas interesadas en capacitarse y desarrollarse en el mundo del marketing digital para cumplir con los objetivos y demandas que exigen las empresas, corporativos y organismos hoy en día.
		.info-content
			include ../modules/bullets.pug