section.topics
	.container
		.section-head
			h3 ¡El mejor diplomado de Marketing Digital en México!
			p La información más actualizada y de alto valor, con teoría casos de éxito y ejercicios prácticos.
		.topics-content
			include ../modules/temary.pug
		.section-footer
			p 
				a(href="https://asmedia.edu.mx/downloads/Marketing_Digital.pdf" target="_blank") Descarga el programa completo aquí.