.form {
	box-sizing: border-box;
	@media screen and (min-width:$normalWidth) {
		padding: $normalRadius;
		background: #FFF;
		border-radius: $normalRadius;
		box-shadow: 0px 0px 30px rgba($color: #c0bff8, $alpha: .3);
	}
}
