.form {
	display: grid;
	grid-template-columns: 1fr ;
	gap: $smallGutter;
	width: 100%;
}
.form_label {
	display: block;
	padding: $smallGutter;
	cursor: pointer;
	font-weight: 700;
	color: $black;
	opacity: .8;
	font-size: .9rem;
}
.form_group_input {
	position: relative;
}
.form_input {
	width: 100%;
	background: rgb(255, 255, 255);
	border: 2px solid rgb(241, 241, 241);
	border-radius: $normalRadius;
	height: 2.8rem;
	line-height: 2.8rem;
	padding-left: $normalGutter;
	padding-right: $bigGutter;
	transition: $transition;
	box-sizing: border-box;
	&:focus {
		border: 2px solid $green;
		outline: none;
		box-shadow: 1px 0px 3px rgba($color: #888888, $alpha: 0.4);
	}
}
.form_fail {
	font-size: .8rem;
	margin-left: $normalGutter;
	margin-top: $smallGutter;
	margin-bottom: 0;
	display: none;
	&-active {
		display: block;
	}
}
.form_status {
	position: absolute;
	right: 1rem;
	bottom: .9rem;
	z-index: 100;
	font-size: 1rem;
	opacity: 0 ;
}
.form_checkbox {
	margin-right: $smallGutter;
}

.form_message {
	height: auto;
	background-color: $pink;
	padding: $normalGutter;
	border-radius: .2rem;
	font-size: 1rem;
	text-align: center;
	display: none;
	p {
		margin: 0;
		color: $white;
		i {
			margin-right: .5rem;
		}
	}
	&-active {
		display: block;
	}
}
.form_btn_send {
	display: flex;
	flex-direction: column;
	align-items: center ;
}
.form_btn {
	height: 2.8rem;
	line-height: 2.8rem;
	width: 100%;
	background-color: $green;
	color: $white;
	font-weight: bold;
	border: none;
	border-radius: $normalRadius;
	cursor: pointer;
	transition: $transition;
	&:hover {
		box-shadow: 3px 0px 30px rgba(165, 165, 165, 1);
	}
}
.form_message_ok {
	font-size: 1rem;
	color: $green;
	display: none;
	&-active {
		display: block;
	}
}

// Validation Styles

.form_group_ok {
	.form_status {
		color: $green;
		opacity: 1;
	}
}
.form_group_fail {
	.form_label,
	.form_status {
		color: $pink;
		opacity: 1;
	}
}
.form_group_fail {
	.form_input {
		border: 2px solid $pink;
	}
}

@media screen and (min-width:$mediumWidth) {
	.form {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.form_btn {
		width: 80%;
	}
}
@media screen and (min-width:$fullWidth) {
	.form {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.form_btn {
		width: 50%;
	}
}
// .formulario tr {
// 	display: flex;
// 	flex-wrap: wrap;
// 	flex-direction: column;
// 	td {
// 		width: 100%;
// 	}
// 	a {
// 		margin-left: $smallGutter;
// 		color: $pink;
// 		font-size: 1em;
// 		text-transform: uppercase;
// 		text-decoration: underline;
// 	}
// 	a:hover {
// 		color: $black;	
// 	}
// }
// .pros_Etiqueta {
// 	margin-bottom: $smallGutter;	
// 	span {
// 		margin-right: .4em;
// 	}
// }
// .pros_Elemento {
// 	margin-bottom: $smallGutter;	
// 	input {
// 		box-sizing: border-box;
// 		width: 100%;
// 		padding: .5em 1em;
// 		color: rgb(102, 102, 102);
// 	}
// }
// .error {
// 		font-size: .9rem;
// 		color: $pink;
// 		padding-left: $smallGutter;
// 	}
// .pros_Boton {
// 	margin-top: $normalGutter;
// 	margin-bottom: $normalGutter;
// 	padding: $normalGutter;
// 	border: none;
// 	border-radius: $normalRadius;
// 	width: 100%;
// 	background: $green;
// 	color: $white;
// 	cursor: pointer;
// 	transition: $transition;
// 	font-size: 1.25em;
// 	text-transform: uppercase;
// 	font-weight: 700;
// 	letter-spacing: .22em;
// }
// .pros_Boton:hover {
// 	background: $pink;
// }
